
h3 {  
font-size: 30px;
text-align: center;
 }

#addgame { 
  background-color: lightgrey;
  width: 250px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  }
  body  {
  background-image: url("people.jpg");
  background-color: #cccccc;

}
table, th, td{
  border: 1px solid black;
   background-color: lightgrey;
   }
#filter_games{
border: 2px solid black;
  width: 280px;
}
#search_games{
border: 2px solid black;
  width: 450px;
}
ul {
  background-color: #f3f3f3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #cccccc;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
